/******Header******/
body {
  margin: 0;
}

.fa-arrow-left {
  position: absolute;
  font-size: 20px;
  top: 4px;
  left: 4px;
}

header {
  position: relative; //logo et image 
//image de logo et nom
  img {
    display: block;
    width: 197px;
    margin: 20px auto 15px;
  }
//nom du restaurant
  h1 {
    font-family: "Shrikhand", cursive;
    font-size: 1.7rem;
    font-weight: 300;
    margin: 10px 10px 10px 18px;
  }
  // icon heart
  i {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 40px;
  }
}

main {
  @include flexCenter(column);

  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 32px 32px 0 0;
    background-color: $silver;
    margin-top: -32px;
    padding: 15px 16px 15px 0;
  }
// image du restaurant
  img {
    height: 275px;
  }

  .fa-heart {
    top: 30px;
  }
}
//article des menus 
article {
  @include flexCenter(column);
  background-color: $silver;
}
//section des menus 
section {
  @include flexCenter(column);
  position: relative;
  z-index: 10;
  padding: 10px 15px;

// titre des menus

  h2 {
    font-family: "Shrikhand", cursive;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 300;
  }

  .underline {
    width: 49px;
    height: 3px;
    background-color: $color-tertiary;
    margin-bottom: 10px;
  }

  ul {
    margin: 0px;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 10px 0 20px;
    border-radius: 20px;
    padding: 0 0 0 10px;
    background-color: $silver;
    box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    @keyframes appear {
      0% {
        transform: scale(0);
      }

      100% {
        transform: scale(1);
      }
    }

    // nom du plat
    h3 {
      display: block;
      font-size: 1.1rem;
      margin: 0 0 5px;
  }

  // description du plat

  p {
      margin: 0;
      font-size: 1rem;
      font-weight: 500;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
  }
// nom du plat et prix et description du plat
  & hgroup {
      overflow: hidden;
      white-space: nowrap;
      
  }

// prix du plat et fa circlecheck 
  div {
      display: flex;
      align-items: end;

      b {
          padding: 16px 12px;
          font-size: 0.950rem;
          font-weight: 700;

      }

      .fa-circle-check {
          opacity: 0;
          @include flexCenter();
          color: $white;
          background: $color-tertiary;
          width: 0;
          height: 100%;
          position: relative;
          border-radius: 0 15px 15px 0;
          padding: 29px 0;
          transition: all 600ms ease-in-out;
          
      }
  }

  &:hover,
  &:focus {

      .fa-circle-check {
          opacity: 1;
          width: 64px;
          padding: 29px 16px;
      }

  }

}

}
section:nth-child(2) li {
  animation: appear 1s both;
}

section:nth-child(3) li {
  animation: appear 1s both 500ms;
}

section:nth-child(4) li {
  animation: appear 1s both 1s;
}

/*****Media queries*****/

/**@media (min-width: 576px) {
  .fa-heart {
    right: 25vw;
  }
}**/

@media (min-width: 768px) {
  main header {
    justify-content: center; //pour centrer le titre sur l'image en haut de page + mettre le nom du restaurants et le coeur au milieu de la page
    gap: 20px;
  }

  .fa-heart {
    right: 25vw;
  }
}

/*@media (min-width: 992px) {
  .fa-heart {
    right: 40vw;
  }
}*/

@media (min-width: 1200px) {
  img {
    object-fit: cover;
  }

  .fa-arrow-left {
    left: 20px;
  }

  .menu {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: -5px;

    h1 {
      font-size: 1.8rem;
      margin: 10px 80px 0 50px;
    }

    section {
      align-self: center;
      width: 60%;

      li {
        width: 100%;
      }
    }
    h2 {
      font-size: 1.5rem;
    }
    .underline {
      width: 60px;
    }

    h3 {
      font-size: 1.3rem;
    }

    p {
      font-size: 1.1rem;
    }
  }
}
